<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/fragments :: head}">
    <title>Dettaglio Pizza</title>
  </head>

  <body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container mt-4">
      <h2 class="mb-4 text-center">Creating a new pizza</h2>

      <!-- form -->
      <form
        id="pizza-form"
        th:object="${pizza}"
        th:action="@{/pizze/create}"
        method="post"
      >
        <!-- mostrare errori -->
        <!-- <div th:if="${#fields.hasErrors()}" class="alert alert-danger mb-3">
          <ul>
            <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
          </ul>
        </div> -->
        <!-- name -->
        <div class="mb-4">
          <div
            class="single-ingredient form-check"
            th:each="ingredient : ${ingredients}"
          >
            <input
              type="checkbox"
              th:id="|ingredient-${ingredient.id}|"
              th:field="${pizza.ingredients}"
              th:value="${ingredient.id}"
            />
            <label
              th:for="|ingredient-${ingredient.id}|"
              class="form-check-label"
              th:text="${ingredient.name}"
            ></label>
          </div>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Name:</label>
          <input
            type="text"
            id="name"
            th:field="*{name}"
            th:errorClass="is-invalid"
            class="form-control"
          />
          <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
            <ul>
              <li
                th:each="err : ${#fields.errors('name')}"
                th:text="${err}"
              ></li>
            </ul>
          </div>
        </div>

        <!-- description -->
        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <textarea
            id="description"
            th:field="*{description}"
            class="form-control"
            th:errorClass="is-invalid"
            rows="3"
          ></textarea>
          <div
            class="invalid-feedback"
            th:if="${#fields.hasErrors('description')}"
          >
            <ul>
              <li
                th:each="err : ${#fields.errors('description')}"
                th:text="${err}"
              ></li>
            </ul>
          </div>
        </div>

        <!-- price -->
        <div class="mb-3">
          <label for="price" class="form-label">Price:</label>
          <input
            type="number"
            min="0"
            step="0.01"
            id="price"
            th:field="*{price}"
            class="form-control"
            th:errorClass="is-invalid"
          />
          <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
            <ul>
              <li
                th:each="err : ${#fields.errors('price')}"
                th:text="${err}"
              ></li>
            </ul>
          </div>
        </div>

        <!-- url -->
        <div class="mb-3">
          <label for="url" class="form-label">Url:</label>
          <input
            type="text"
            id="url"
            th:field="*{url}"
            class="form-control"
            th:errorClass="is-invalid"
          />
          <div class="invalid-feedback" th:if="${#fields.hasErrors('url')}">
            <ul>
              <li
                th:each="err : ${#fields.errors('url')}"
                th:text="${err}"
              ></li>
            </ul>
          </div>
        </div>

        <!-- submit/reset -->
        <button type="submit" class="btn btn-primary" value="create new pizza">
          Create
        </button>
        <button type="reset" class="btn btn-warning" value="reset all fields">
          Reset
        </button>
      </form>
    </div>

    <div th:replace="~{fragments/fragments :: scripts}"></div>
  </body>
</html>
