<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/fragments :: head}">
    <title>Dettaglio Ingrediente</title>
  </head>

  <body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container mt-4">
      <h2 class="mb-4">Dettaglio Ingrediente</h2>

      <div th:if="${ingredient != null}" class="card mb-4">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title" th:text="${ingredient.name}"></h3>

              <p class="card-text">
                <strong>Descrizione:</strong>
                <span th:text="${ingredient.description}"></span>
              </p>

              <p class="card-text">
                <strong>ID:</strong>
                <span th:text="${ingredient.id}"></span>
              </p>

              <a th:href="@{/ingredients}" class="btn btn-primary mt-3">
                Torna all’elenco
              </a>
            </div>
          </div>
        </div>
      </div>

      <p th:unless="${ingredient != null}">ingredient non trovata.</p>
    </div>

    <div th:replace="fragments/fragments :: scripts"></div>
  </body>
</html>
